<!DOCTYPE html>
<html>
  <head>
    <title><%%= yield(:title) || '<%= camelized_application_name %>' %></title>
    <%%= stylesheet_link_tag    "application" %>
    <%%= javascript_include_tag "application" %>
    <%%= csrf_meta_tags %>
  </head>
  <body>
    
    <%% flash.each do |name, message| %>
      <div class="alert-message<%%= " #{bootstrap_flash_name(name)}" %> block-message" data-alert="alert">
        <%%= link_to '×', '#', class: 'close' %>
        <%%= message %>
      </div>
    <%% end %>
    
    <%%= yield %>
  
  </body>
</html>
